.footer {
    color: #757575;
    padding-top: 40px;
    padding-bottom: 10px;
    width: 70%;
    margin: auto;
}

.footer__top {
    padding: 0;
    margin: 0 0 30px;
}

.footer__VerticalCol {
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
}

.footer__Col {
    flex: 25%;
    padding: 0;
}

.footer__ColList {
    cursor: pointer;
    font-size: 13px;
    list-style: none;
    padding-left: 0;
    line-height: 250%;
    letter-spacing: .5px;
}

.footer__ColList>a:hover, .footer__Col>ul>li:hover {
    text-decoration: underline #757575;
}

.footer__ColSpacer {
    padding: 0 30px;
}

.footer__endLine {
    font-size: 11px;
    line-height: 250%;
    margin-bottom: 20px;
}

.footer__copyright {
    display: flex;
    align-items: center;
}

.git__logo {
    display: flex;
    height: 20px;
    width: 20px;
    cursor: help;
    filter: invert(100%);
    margin-left: 2px;
}

@media(max-width: 640px) {
    .footer {
        flex-direction: column;
    }
    .footer__ColSpacer {
        display: none;
    }
}

@media(max-width: 765px) {
    .footer {
        width: 95%;
        flex-direction: column;
        margin-left: 25px;
    }
    .footer__Col {
        list-style: none;
        padding: 0;
    }
    .footer__top {
        font-size: 12px;
    }
    .footer__ColList {
        font-size: 10px;
    }
    .footer__ColSpacer {
        display: none;
    }
}

@media(max-width: 440px) {
    .footer {
        flex-direction: column;
        margin-top: 10%;
    }
    .footer__VerticalCol, .footer__Col, .footer__ColList {
        flex-direction: column;
        padding: 0;
    }
    .footer__ColSpacer {
        display: none;
    }
}